%html
  %head
    %title Politicrime Alpha 0.1
    != stylesheet_link_tag    "application", :media => "all"
    != javascript_include_tag "application"
    != yield :head_includes
    != csrf_meta_tags
  %body
    != yield

